body {
  color: #ffffff;
  font-family: "DM Sans";
  font-size: 15px;
}
.topbar {
  background: #474747;
  padding: 11px 120px;
}
.topbar .social {
  padding-left: calc(100vw - 700px);
}
.topbar ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.topbar ul .twitter img {
  vertical-align: middle;
  padding-right: 0px;
}
.topbar ul .fb img {
  vertical-align: middle;
  padding-right: 0px;
}
.topbar ul .ig img {
  vertical-align: middle;
  padding-right: 0px;
}
.topbar ul .github img {
  vertical-align: middle;
  padding-right: 0px;
}
.topbar ul img {
  vertical-align: middle;
  padding-right: 8px;
}
.menu ul li {
  display: inline-block;
  position: relative;
}
.topbar ul li {
  display: inline-block;
  position: relative;
}
.one {
  padding-right: 12px;
}
.two {
  padding-left: 12px;
}
.twitter {
  width: 30px;
  height: 30px;
  background-color: #f9f9f71f;
  vertical-align: center;
  border-radius: 100%;
}
.fb {
  width: 30px;
  height: 30px;
  background-color: #f9f9f71f;
  vertical-align: center;
  border-radius: 100%;
}
.ig {
  width: 30px;
  height: 30px;
  background-color: #f9f9f71f;
  vertical-align: center;
  border-radius: 100%;
}
.github {
  width: 30px;
  height: 30px;
  background-color: #f9f9f71f;
  vertical-align: center;
  border-radius: 100%;
}
.menu {
  background: #ffffff;
  padding: 11px 120px;
}
.menu img {
  vertical-align: middle;
}
.menu ul {
  display: inline-block;

  padding: 20px;
  margin: 0;
  vertical-align: middle;
  width: 500px;

  text-align: center;
}
.menu ul li a {
  text-decoration: none;
  padding: 0px 24px;
  color: #2c2f24;
}
.menu ul .list {
  display: inline-block;
  position: relative;
  color: #474747;
  text-align: center;
}
.button {
  margin-left: 130px;
  padding: 10px 20px;
  font-weight: 1000;
  border-color: #2c2f24;
  border-radius: 118px;
  background-color: #ffffff;
}
#home {
  background-color: #dbdfd0;
  border-radius: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ntua {
  font-size: 70px;
  font-weight: 500;
  color: #2c2f24;
  position: fixed;
  left: calc(50% - 160px);
  top: calc(50% - 92px);
}
#food {
  font-weight: 600;
  color: #2c2f24;
  position: fixed;
  left: calc(50% - 100px);
  top: calc(100% - 280px);
}
.button2 {
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 1000;
  border: 0px;
  border-radius: 118px;
  background-color: #ad343e;
  position: absolute;
  left: 40%;
  top: 70%;
  transform: (-50% -50%);
}
.button3 {
  padding: 10px 20px;
  font-weight: 1000;
  border-color: #2c2f24;
  border-radius: 118px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: (-50% -50%);
}
